<div id="online-status-wrapper">
    <h2>開催状況</h2>
    <p><%= @status_message %></p>
</div>
<h1>オンライン状況を変更</h1>
<%= link_to("オンラインステータスを変更", "/change_status", {method: :post, class: "button"})%>
<h1>時間延長</h1>
<%= link_to("オンラインステータスを延長状態にする", "/extend", {method: :post, class: "button"}) %>

<h1>ボタンのリンク先</h1>
<p class="form-error" ><%= flash[:notice] %></p>
<div class="links_wrapper">
    <table>
        <tr>
            <th>ラベル</th>
            <th>リンク</th>
            <th></th>
            <th></th>
        </tr>
        <% @links.each do |link| %>
            <tr>
                <%= form_tag("/change_link/#{link.id}") do %>
                    <td><input type="text" value="<%= link.label %>" name="link_label"></td>
                    <td><input type="text" value="<%= link.link %>" name="link" ></td>
                    <td><input type="submit" value="変更" ></td>
                    <td><%= link_to("削除" ,"/destroy_link/#{link.id}", {method: :post}) %></td>
                <% end %>
            </tr>
        <% end %>
        <tr>
            <%= form_tag("/add_link") do %>
                <td><input type="text" name="link_label"></td>
                <td><input type="text" name="link"></td>
                <td><input type="submit" value="追加"></td>
                <td></td>
            <% end %>
        </tr>
    </table>
</div>






<div class="online-log-wrapper">
    <table>
        <tr>
            <th>オンラインステータス</th>
            <th>開始日時</th>
            <th>終了日時</th>
            <th></th>
        </tr>
        <% @statuses.each do |status| %>
            <tr>
                <td><%= status.status %></td>
                <td><%= status.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
                <td>
                    <% if status.status == "offline" %>
                        <%= status.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
                    <% else %>
                        <%= "進行中です" %>
                    <% end %>
                </td>
                <td><%= link_to("削除", "/destroy_log/#{status.id}", {method: :post}) %></td>
            </tr>
        <% end %>
    </table>
</div>
<%= link_to("ログアウト", "/logout", {method: :post})%>